gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Flutter 관련 불필요한 파일 제외
build/
.flutter/
pubspec.lock
*.iml
*.log
*.swp
.dart_tool/
android/.gradle/
android/key.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
